*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}


body {
    background-color: #FFFFFF;
    color: #434455;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-style: normal;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
}


.main{
    width: 1440px;
    margin: 0 auto;
}
.container{
    width:1128px;
    margin: 0 auto;
    padding: 0 15px;
}

/* HEADER */
.header-section {
    border-bottom: 1px solid #e7e9fc;
    height: 600px;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
    display: flex;
    width: 1158px;
    padding: 0 15px;
  }
.header-section {
    height: 72px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.container-header {
    display: flex;
}

.header-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 452px;
}
.header-logo {
    margin-right: 76px;
    width: 115px;
    color:  #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.header-logo-item {
    color: #2E2F42;
    padding: 24px 0;
}
.nav-list {
    width: 261px;
    display: flex;
    gap: 40px;
    padding-right: 332px;
}
.nav-list-link {
    color: #2E2F42;
    position: relative;
    padding: 24px 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
 .current {
    position: relative;
    color: #404BBF;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current::after {
    content:"";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}
.nav-list-link:hover,
.nav-list-link:focus {
    color: #404BBF;
}
.address {
    display: flex;
    padding-left: 332px;
}
.address-list {
    width: 346px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
.add-link-contact {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    color: #434455;
}
.add-link-contact {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);   
}
.add-link-contact:hover,
.add-link-contact:focus {
    color: #404BBF;
}

/* SECTION-1 */
.page-title {
    padding: 188px 0;
    background-color: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
     rgba(46, 47, 66, 0.7)),
      url(../images/back.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;

}

.page-title-text {
    margin-left: auto;
    margin-right: auto;
    max-width: 496px;
    margin-bottom: 48px;
    color:  #ffffff;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
}
.btn {
    margin: 0 auto;
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    border: none;
    background-color:  #4D5AE5;
    color: #ffffff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}
.btn {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.btn:hover {
    background-color: #404BBF;
}
.btn:focus {
    background-color: #404BBF;
}


/* SECTION-2*/
.benefits {
    display: flex;
    padding: 120px 0;
}
.vissually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.benefits-list {
    display: flex;
    gap: 24px;
}
.benefits-list-item {
    width: calc((100% - 72px) / 4);
}
.benefits-icon-container {
    width: 264px;
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    position: relative;
    border-radius: 4px;
    border: 1px solid var(--LIGHT-SLATE, #8E8F99);
    background: var(--CLOUD, #F4F4FD);
}
.benefits-icon {
    position: absolute;
    fill: #2e2f42;
    top: 15%;
    left: 35%;
}
.benefits-title {
    margin-bottom: 8px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.benefits-title-text {
    font-family: Roboto, sans-serif;
    font-style: normal;
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}


/* SECTION-3*/
.team {
    background-color: #F4F4FD;
    padding: 120px 0;
    height: 732px;
}
.team-list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
.team-title {
    margin-bottom: 72px;
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11; 
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.team-list-item {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    background-color: #FFFFFF;
}
.team-img {
    width: 264px;
    height: 260px;
}
.wrapper-box {
    padding: 32px 0;
}
.team-subtitle {
    margin-bottom: 8px;
    color: #2E2F42;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.team-desk {
    color: #434455;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.social-list-item {
    width: 40px;
    height: 40px;
}
.social-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.social-link {
    transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
    background-color: #404bbf;
}
.icon{
    fill: #f4f4fd;
}


/* SECTION-4 */
.portfolio {
    padding: 120px 0;
}
.portfolio-list {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 24px;
    row-gap: 48px;
    flex-wrap: wrap;
}
.portfolio-list-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-list-item:hover .overlay-text {
    transform: translateY(0%);
}
.overlay-box {
    position: relative;
    overflow: hidden;
}
.overlay-text{
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:  #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.portfolio-title {
    margin-bottom: 72px;
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.portfolio-img {
    width: 360px;
    height: 300px;
}
.portfolio-wrapper {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portfolio-subtitle {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; 
    letter-spacing: 0.02em;
    margin-bottom: 8px
}
.portfolio-desk {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}


/* FOOTER */
.footer {
    background-color: #2E2F42;
    padding: 100px 0;
}
.footer-wrapper {
    display: flex;
    align-items: baseline;
}
.footer-logo-box {
    margin-right: 120px;
}
.logo-footer {
    display: inline-block;
    margin-bottom: 16px;
    width: 115px;
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.logo-footer-item {
    color: #F4F4FD;
}
.footer-text {
    width: 264px;
    color: #F4F4FD;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.footer-social-box {
    margin-right: auto;
}
.footer-social-text {
    color: #FFF;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}
.footer-social-list{
    display: flex;
    gap: 16px;
}
.footer-social-list-item {
    width: 40px;
    height: 40px;
}
.footer-social-list-item:hover {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #31D0AA;
}
.footer-social-icon{
    fill: #f4f4fd;
}
.footer-subscribe-box {
    display: flex;
    flex-direction: column;
}
.footer-subscribe-text  {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.footer-form {
    display: flex;
    gap: 24px;
  }
  
.footer-input {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    border-radius: 4px;
    color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
  
  .foooter-input::placeholder {
    color: #ffffff;
  }
  
  .footer-subscribe-btn {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    background-color: #4d5ae5;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .footer-btn-icon {
    margin-left: 16px;
  }


/* MODAL */

.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.modal-box {
    width: 408px;
    min-height: 584px;
    background-color: #fcfcfc;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 24px 24px 24px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn {
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    padding: 0;
    position: absolute;
    right: 24px;
    top: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
    fill: #FFFFFF;
    background-color: #404bbf;
    border: none; 
} 
.modal-btn:hover .modal-btn-icon,
.modal-btn:focus .modal-btn-icon {
    fill: #ffffff;
}

.modal-btn .modal-btn-icon {
    fill: #2E2F42;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-text {
    color: #2e2f42;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}
  
.modal-entry-field {
    margin-bottom: 8px;
}
  
.modal-input {
    padding-left: 38px;
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    box-shadow: none;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
  
.modal-input:hover,
.modal-input:focus {
    border: 1px solid #4d5ae5;
}
  
.modal-input:focus + .modal-icon {
    fill: #4d5ae5;
}
  
.modal-label {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.04em;
    line-height: 1.17;
    color: #8e8f99;
}
  
.modal-input-box {
    position: relative;
}
  
.modal-icon {
    fill: #2e2f42;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
  
.comment {
    margin-bottom: 16px;
}
  
.modal-textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    box-shadow: none;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    resize: none;
}
  
.modal-textarea::placeholder {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.04em;
    line-height: 1.16;
    color: #2e2f4266;
}
  
.modal-textarea:hover,
.modal-textarea:focus {
    border: 1px solid #4d5ae5;
}
  
  
.check-text {
    color: #8e8f99;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}
  
.check-text a {
    color: #4d5ae5;
    text-decoration: underline;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}  
.invisible-checkbox  {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    box-shadow: none;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    margin-right: 12px;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input[type="checkbox"]:checked + .check-text > .invisible-checkbox {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}
  
.down-entry-field {
    margin-bottom: 24px;
}
  
.modal-send-btn {
    background-color: #4d5ae5;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.04em;
    text-align: center;
    cursor: pointer;
    line-height: 1.5;
    display: block;
    margin: auto;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}